name: Python Test and Push

on: [push]  # Trigger the workflow on push events

jobs:
  test-and-push:
    runs-on: ubuntu-latest  # Specify the runner environment

    steps:
      - uses: actions/checkout@v3  # Check out the code
      - name: Set up Python  # Set up the Python environment
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'  # Replace '3.x' with your desired version
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install build-essential python3-dev libcairo2-dev libpango1.0-dev ffmpeg texlive -y
          sudo apt upgrade -y
          sudo python -m pip install --upgrade pip
          sudo pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Test with pytest
        run: |
          python3 Projectile.py
        
      - name: Push changes on success  # Push changes if tests pass
        if: success()
        run: |
          git config --local user.email "fhaya420@gmail.com"
          git config --local user.name "Shinystar128"
          git add .
          git commit -m "Automated commit from GitHub Actions"
          git push
